@using ProjectManagementApp.Models
@model ChangePasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="#">Edit Profile</a>
  </div>
  <div class="card">

    <form method="post">
    <div class="card-body register-card-body">

      <p class="login-box-msg">Edit Profile</p>

      <div class="input-group mt-3">
        <label for="">Choose Image</label>
        <input type="image" src="" alt="">

      </div>
       
      
      
        <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Enter Your old Password" asp-for="OldPassword">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>

        <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Enter Your New Password" asp-for="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        
        <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Retype the new password" asp-for="ConfirmPassword">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <div class="row">

        <div class="col-4">
          <a asp-controller ="Project" asp-action = "AllProjects" class="btn btn-danger btn-block">Back</a>
          </div>
            <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block" >Update</button>
          </div>
        </div>
          
       
        </div>

      </form>


    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>
